<title>Todo_2 App</title>


  <div class="container">
    <div class="row">
      <div class="span4">
        <h1>Todo 2 App</h1>
        <hr>
        <p>All your todos here</p>

        <%= form_for @new_todo, :url => { :action => "add" } do |f| %>
          <%= f.text_field :todo_item %>
          <%= f.submit "Add todo", class: "btn btn-primary" %>
        <% end %>

        <% if flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert" >×</button>
            <strong><%= flash[:error] %></strong>
            </div>
        <% end %>

        <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" >×</button>
            <strong><%= flash[:success] %></strong>
          </div>
        <% end %>

        <div class="well">
        <%= form_tag("/todos/complete", :method => "post") do %>
        <ul style="list-style-type:none;">
        <% @todo_items.each do |t| %>
          <% if t.completed == true %>
            <li style="color:green;"> <%= check_box_tag "todos_checkbox[]", t.id %> <strike><%= t.todo_item %></strike> </li>
          <% else %>
            <li><%= check_box_tag "todos_checkbox[]", t.id %> <%= t.todo_item %></li>
          <% end %>

        <% end %>
        </ul>
        <%= submit_tag("Toggle Todos", :class=>"btn btn-success") %>
        <% end %>
        </div>
      </div>
    </div>
  </div>


<%= link_to 'Delete last todo', '/todos/delete', method: :delete, data: {confirm: "Are you SURE that you want to delete this todo?"} %>
<!-- <a href="/todos/delete">Delete last todo</a> -->



